//iPhone 12 Pro Max
@media only screen and (max-height: 926px) {
	#startMenu {
		bottom: 13rem;
	}

	#startMenu #pinnedApps {
		height: 240px;

		.favApp .badge {
			margin: -28px 0 0 30px;
		}
	}

	.widget-title {
		width: 265px;
	}

	#colorPickerWidget {
		.widget-title {
			width: 215px;
		}
	}

	#startMenu #pinnedWidgets {
		margin-top: -10px;
		height: 135px;
	}

	#startMenu .header {
		margin: 0.8rem 1.5rem;
	}

	.scrollHelper {
		height: 370px;
	}

	#startMenu .startTabs {
		height: 560px;
	}

	#allApps {
		height: 408px;
	}

	#startMenu .widget {
		position: unset;
		width: 100%;
		max-height: 120px;
		margin-bottom: 1rem;
	}

	.startWidget .widget-content {
		justify-content: space-around;
	}

	.startWidget .weather-header {
		margin: 0.5rem 0;
	}

	.widget.x-large {
		height: 65%;
	}

	.settings {
		&-content .settings-pages .page {
			width: 92%;
			height: 380px;
		}
	}

	.media-right {
		left: 58%;
	}

	.media-right button.playTrack {
		font-size: 3rem;
	}

	#explorerWidget .explorer-apps .explorerFavApp .badge,
	#explorerWidget .explorer-apps .explorerApp .badge,
	#explorerWidget .explorer-apps .explorerFolder .badge,
	#explorerWidget .explorer-apps .addApp .badge,
	#explorerWidget .explorer-apps .folderApp .badge,
	#explorerWidget .explorer-apps .pageApp .badge {
		margin: -28px 0 0 27px;
	}
}

//iPhone XS/11 pro Max
@media only screen and (max-height: 896px) {
	#explorerWidget .explorer-apps {
		padding-left: 0.7rem;
	}

	.widget-title {
		width: 260px;
	}

	#colorPickerWidget {
		.widget-title {
			width: 215px;
		}
	}

	#allApps {
		height: 408px;
	}

	.settings {
		&-content .settings-pages .page {
			width: 92%;
			height: 361px;
		}
	}

	#explorerWidget .explorer-apps .explorerFavApp .badge,
	#explorerWidget .explorer-apps .explorerApp .badge,
	#explorerWidget .explorer-apps .explorerFolder .badge,
	#explorerWidget .explorer-apps .addApp .badge,
	#explorerWidget .explorer-apps .folderApp .badge,
	#explorerWidget .explorer-apps .pageApp .badge {
		margin: -28px 0 0 27px;
	}
}

//iPhone 12 Pro
@media only screen and (max-height: 844px) {
	#startMenu {
		bottom: 13rem;
	}

	#startMenu #pinnedApps {
		height: 210px;
	}

	#startMenu #pinnedWidgets {
		margin-top: -16px;
		height: 140px;
	}

	#allApps {
		height: 358px;
	}
	.desktopWidget .weather-content .weather-daily img {
		@include set-size(40px, 40px);
	}

	.widget.x-large {
		height: 68%;
	}
	.widget-title {
		width: 250px;
	}
	#colorPickerWidget {
		.widget-title {
			width: 215px;
		}
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 92%;
			height: 352px;
		}

		&-inputSwitch {
			width: 83%;
		}
	}

	#explorerWidget .explorer-apps .explorerApp {
		width: 60px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 1.5rem;
	}

	#startMenu .startTabs {
		height: 510px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 1.4rem;
	}

	#explorerWidget .explorer-apps .explorerFavApp,
	#explorerWidget .explorer-apps .explorerApp,
	#explorerWidget .explorer-apps .explorerFolder,
	#explorerWidget .explorer-apps .addApp,
	#explorerWidget .explorer-apps .folderApp,
	#explorerWidget .explorer-apps .pageApp {
		width: 62px;
	}

	#explorerWidget .explorer-apps .explorerFavApp .title,
	#explorerWidget .explorer-apps .explorerApp .title,
	#explorerWidget .explorer-apps .explorerFolder .title,
	#explorerWidget .explorer-apps .addApp .title,
	#explorerWidget .explorer-apps .folderApp .title,
	#explorerWidget .explorer-apps .pageApp .title {
		width: 57px;
	}

	#explorerWidget .explorer-apps .explorerFavApp .badge,
	#explorerWidget .explorer-apps .explorerApp .badge,
	#explorerWidget .explorer-apps .explorerFolder .badge,
	#explorerWidget .explorer-apps .addApp .badge,
	#explorerWidget .explorer-apps .folderApp .badge,
	#explorerWidget .explorer-apps .pageApp .badge {
		margin: -28px 0 0 27px;
	}
}

//iPhone X/XS/11/11Pro
@media only screen and (max-height: 812px) {
	#startMenu {
		bottom: 13rem;
	}

	#startMenu .startTabs {
		height: 480px;
	}

	#allApps {
		height: 328px;
	}

	#startMenu #pinnedApps {
		height: 175px;
	}

	#startMenu #pinnedWidgets {
		margin-top: -10px;
		height: 130px;
	}

	.widget.x-large {
		height: 69%;
	}

	.widget-title {
		width: 230px;
	}

	#colorPickerWidget {
		.widget-title {
			width: 215px;
		}
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 92%;
			height: 340px;
		}

		&-inputSwitch {
			width: 83%;
		}
	}

	.desktopWidget .weather-content .weather-daily img {
		@include set-size(40px, 40px);
	}

	.desktopWidget .weather-content .weather-daily .weather-temperature {
		font-size: 0.8rem;
	}

	#explorerWidget .explorer-apps .explorerApp .icon,
	#explorerWidget .explorer-apps .explorerApp .icon img {
		@include set-size(40px, 40px);
	}

	#explorerWidget .explorer-apps .explorerApp {
		width: 60px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 1.2rem;
	}

	#explorerWidget .explorer-apps .explorerFavApp,
	#explorerWidget .explorer-apps .explorerApp,
	#explorerWidget .explorer-apps .explorerFolder,
	#explorerWidget .explorer-apps .addApp,
	#explorerWidget .explorer-apps .folderApp,
	#explorerWidget .explorer-apps .pageApp {
		width: 60px;
	}

	#explorerWidget .explorer-apps .explorerFavApp .title,
	#explorerWidget .explorer-apps .explorerApp .title,
	#explorerWidget .explorer-apps .explorerFolder .title,
	#explorerWidget .explorer-apps .addApp .title,
	#explorerWidget .explorer-apps .folderApp .title,
	#explorerWidget .explorer-apps .pageApp .title {
		width: 55px;
	}

	.media-right {
		left: 55%;
	}

	.media-right button.playTrack {
		font-size: 2.5rem;
	}

	.media-info .media-artist .text {
		width: 70px;
	}
}

//iPhone 12 Mini
@media only screen and (max-height: 780px) {
	#startMenu .startTabs {
		height: 440px;
	}

	#startMenu #pinnedApps {
		height: 160px;
	}

	.startWidget .weather-header {
		margin: unset;
	}

	.startWidget .weather-content .weather-left img {
		@include set-size(40px, 40px);
	}

	#startMenu #pinnedWidgets {
		height: 120px;
		margin-top: -15px;
	}

	.startWidget .weather-content .weather-left .weather-temperature {
		font-size: 25px;
	}

	.startWidget .weather-content .weather-right {
		font-size: 0.9rem;
	}

	.startWidget .weather-content .weather-right span {
		font-size: 0.7rem;
	}

	#allApps {
		height: 288px;
	}

	.widget.x-large {
		height: 65%;
	}

	.widget-title {
		width: 225px;
	}

	#colorPickerWidget {
		.widget-title {
			width: 215px;
		}
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 90%;
			height: 284px;
		}

		&-inputSwitch {
			width: 81%;
		}
	}

	.desktopWidget .weather-content .weather-daily img {
		@include set-size(40px, 40px);
	}

	.desktopWidget .weather-content .weather-daily .weather-temperature {
		font-size: 0.8rem;
	}

	#explorerWidget .explorer-apps {
		padding-left: 0.75rem;
	}

	.media-info .media-artist .text {
		width: 70px;
	}
}

//iPhone 6/7/8 plus
@media only screen and (max-height: 736px) {
	#startMenu .startTabs {
		height: 410px;
	}

	#allApps {
		height: 258px;
	}

	#startMenu #pinnedApps {
		height: 230px;
	}

	#startMenu #pinnedWidgets {
		display: none;
	}

	.widget {
		&.x-large {
			top: 40%;
		}

		&-title {
			width: 260px;
		}
	}

	#colorPickerWidget {
		.widget-title {
			width: 215px;
		}
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 92%;
			height: 256px;
		}

		&-inputSwitch {
			width: 83%;
		}
	}

	#explorerWidget .explorer-apps .explorerApp {
		width: 65px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 0.5rem;
	}

	#explorerWidget .explorer-apps .explorerFavApp .badge,
	#explorerWidget .explorer-apps .explorerApp .badge,
	#explorerWidget .explorer-apps .explorerFolder .badge,
	#explorerWidget .explorer-apps .addApp .badge,
	#explorerWidget .explorer-apps .folderApp .badge,
	#explorerWidget .explorer-apps .pageApp .badge {
		margin: -28px 0 0 27px;
	}

	.favApp .badge {
		margin: -24px 0 0 30px;
	}
}

//iPhone 6/7/8
@media only screen and (max-height: 667px) {
	#startMenu {
		bottom: 12rem;
	}
	#startMenu .startTabs {
		height: 340px;
	}

	#allApps {
		height: 188px;
	}

	#allWidgets {
		height: 220px;
	}

	#startMenu #pinnedApps {
		height: 160px;
	}

	#startMenu #pinnedWidgets {
		display: none;
	}

	#controlCenter {
		bottom: 12rem;

		.header button {
			padding: 0.5rem;
		}
	}

	.widget {
		&.x-large {
			top: 39%;
			height: 63%;
		}

		&-title {
			width: 230px;
		}
	}

	#colorPickerWidget {
		.widget-title {
			width: 215px;
		}
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 92%;
			height: 198px;
		}

		&-inputSwitch {
			width: 83%;
		}
	}

	#explorerWidget .explorer-apps .explorerApp {
		width: 60px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 1.2rem;
	}

	#explorerWidget .explorer-apps .explorerApp .icon,
	#explorerWidget .explorer-apps .explorerApp .icon img {
		@include set-size(40px, 40px);
	}

	#explorerWidget .explorer-apps .explorerFavApp .badge,
	#explorerWidget .explorer-apps .explorerApp .badge,
	#explorerWidget .explorer-apps .explorerFolder .badge,
	#explorerWidget .explorer-apps .addApp .badge,
	#explorerWidget .explorer-apps .folderApp .badge,
	#explorerWidget .explorer-apps .pageApp .badge {
		margin: -28px 0 0 27px;
	}

	.favApp .badge {
		margin: -24px 0 0 30px;
	}
}
