html,
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	opacity: 0;
	transition: 300ms ease;
}

@import 'config';
@import 'utilities';
@import './components/global';
@import './components/appMenu';
@import './components/controlCenter';
@import './components/desktop';
@import './components/taskbar';
@import './components/startMenu';
@import './components/scrollHelper';
@import './components/settingsWidget';
@import './components/weatherWidget';
@import './components/explorerWidget';
@import './components/musicWidget';
@import 'devices';
