//iPhone 12 Pro Max
@media only screen and (max-height: 926px) {
	#startMenu {
		bottom: 13rem;
	}

	#startMenu #pinnedApps {
		height: 240px;
	}

	#startMenu #pinnedWidgets {
		margin-top: -10px;
		height: 135px;
	}

	#startMenu .header {
		margin: 0.8rem 1.5rem;
	}

	.scrollHelper {
		height: 370px;
	}

	#startMenu .startTabs {
		height: 560px;
	}

	#allApps {
		height: 430px;
	}

	#startMenu .widget {
		position: unset;
		width: 100%;
		max-height: 120px;
		margin-bottom: 1rem;
	}

	.startWidget .widget-content {
		justify-content: space-around;
	}

	.startWidget .weather-header {
		margin: 0.5rem 0;
	}
}

//iPhone 12 Pro
@media only screen and (max-height: 844px) {
	#startMenu {
		bottom: 13rem;
	}

	#startMenu #pinnedApps {
		height: 210px;
	}

	#startMenu #pinnedWidgets {
		margin-top: -16px;
		height: 140px;
	}

	#allApps {
		height: 385px;
	}
	.desktopWidget .weather-content .weather-daily img {
		@include set-size(40px, 40px);
	}
	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 92%;
			height: 290px;
		}

		&-inputSwitch {
			width: 92%;
		}
	}

	#explorerWidget .explorer-apps .explorerApp {
		width: 60px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 1.5rem;
	}

	#startMenu .startTabs {
		height: 510px;
	}
}

//iPhone X/XS/11/11Pro
@media only screen and (max-height: 812px) {
	#startMenu {
		bottom: 13rem;
	}

	#startMenu .startTabs {
		height: 480px;
	}

	#allApps {
		height: 350px;
	}

	#startMenu #pinnedApps {
		height: 175px;
	}

	#startMenu #pinnedWidgets {
		margin-top: -10px;
		height: 130px;
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 92%;
			height: 275px;
		}

		&-inputSwitch {
			width: 92%;
		}
	}

	.desktopWidget .weather-content .weather-daily img {
		@include set-size(40px, 40px);
	}

	.desktopWidget .weather-content .weather-daily .weather-temperature {
		font-size: 0.8rem;
	}

	#explorerWidget .explorer-apps .explorerApp .icon,
	#explorerWidget .explorer-apps .explorerApp .icon img {
		@include set-size(40px, 40px);
	}

	#explorerWidget .explorer-apps .explorerApp {
		width: 60px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 1.2rem;
	}
}

//iPhone 12 Mini
@media only screen and (max-height: 780px) {
	#startMenu .startTabs {
		height: 440px;
	}

	#startMenu #pinnedApps {
		height: 160px;
	}

	.startWidget .weather-header {
		margin: unset;
	}

	.startWidget .weather-content .weather-left img {
		@include set-size(40px, 40px);
	}

	#startMenu #pinnedWidgets {
		height: 120px;
		margin-top: -15px;
	}

	.startWidget .weather-content .weather-left .weather-temperature {
		font-size: 25px;
	}

	.startWidget .weather-content .weather-right {
		font-size: 0.9rem;
	}

	.startWidget .weather-content .weather-right span {
		font-size: 0.7rem;
	}

	#allApps {
		height: 305px;
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 90%;
			height: 255px;
		}

		&-inputSwitch {
			width: 91%;
		}
	}

	.desktopWidget .weather-content .weather-daily img {
		@include set-size(40px, 40px);
	}

	.desktopWidget .weather-content .weather-daily .weather-temperature {
		font-size: 0.8rem;
	}

	#explorerWidget .explorer-apps {
		padding-left: 0.75rem;
	}
}

//iPhone 6/7/8 plus
@media only screen and (max-height: 736px) {
	#startMenu .startTabs {
		height: 410px;
	}

	#allApps {
		height: 278px;
	}

	#startMenu #pinnedApps {
		height: 230px;
	}

	#startMenu #pinnedWidgets {
		display: none;
	}

	.widget {
		&.x-large {
			top: 40%;
		}
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 92%;
			height: 225px;
		}

		&-inputSwitch {
			width: 92%;
		}
	}

	#explorerWidget .explorer-apps .explorerApp {
		width: 65px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 1.5rem;
	}
}

//iPhone 6/7/8
@media only screen and (max-height: 667px) {
	#startMenu .startTabs {
		height: 340px;
	}

	#allApps {
		height: 205px;
	}

	#startMenu #pinnedApps {
		height: 160px;
	}

	#startMenu #pinnedWidgets {
		display: none;
	}

	#controlCenter {
		.header button {
			padding: 0.4rem;
		}
	}

	.widget {
		&.x-large {
			top: 38%;
		}
	}

	.settings {
		&-header {
			.deviceStuff .devicePic img {
				@include set-size(auto, 80px);
			}

			.userStuff .userPic img {
				@include set-size(40px, 40px);
			}
		}

		&-content .settings-pages .page {
			width: 92%;
			height: 185px;
		}

		&-inputSwitch {
			width: 92%;
		}
	}

	#explorerWidget .explorer-apps .explorerApp {
		width: 60px;
	}

	#explorerWidget .explorer-apps {
		padding-left: 1.2rem;
	}

	#explorerWidget .explorer-apps .explorerApp .icon,
	#explorerWidget .explorer-apps .explorerApp .icon img {
		@include set-size(40px, 40px);
	}
}
