.appMenu {
	.settings .menuButton,
	.footer {
		display: flex;
		align-items: center;
		padding: 1.2rem;
	}

	.menuButton {
		border-bottom: 1px solid set-text-color-transparency($light-color, 0.1) !important;

		&:last-child {
			border: none !important;
		}
	}

	.settings {
		border-bottom: 1px solid set-text-color-transparency($light-color, 0.2) !important;
		border-top-left-radius: 1.2rem;
		border-top-right-radius: 1.2rem;
		border-bottom-left-radius: 0.8rem;
		border-bottom-right-radius: 0.8rem;
		@include set-background-color(set-transparency($light-button-color, 0.4));
	}

	i {
		line-height: 12px;
		margin-right: 1rem;
	}

	.footer {
		line-height: 12px;

		img {
			@include set-size(20px, 20px);
			margin-right: 1rem;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.appMenu {
		.menuButton {
			border-bottom: 1px solid set-text-color-transparency($dark-color, 0.1) !important;
		}

		.settings {
			@include set-background-color(
				set-transparency(lighten($dark-button-color, 10%), 0.3)
			);

			border-bottom: 1px solid set-text-color-transparency($dark-color, 0.2) !important;
		}
	}
}
