#controlCenter {
	bottom: 14rem;
	transition: 250ms ease-in;
	display: flex;
	flex-direction: column;

	.header {
		background-color: set-transparency(lighten($light-button-color, 10%), 0.4);
		border-bottom: 1px solid set-text-color-transparency($light-color, 0.2) !important;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
		padding: 1.5rem;
		border-top-left-radius: 1.2rem;
		border-top-right-radius: 1.2rem;
		border-bottom-left-radius: 0.8rem;
		border-bottom-right-radius: 0.8rem;

		.toggleContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-size: 0.7rem;
		}

		button {
			width: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			outline: none;
			appearance: none;
			@include set-background-color(set-transparency($light-input-text, 0.7));
			border: 1px solid set-text-color-transparency($light-color, 0.2);
			@include set-border-radius(0.4rem);
			padding: 0.75rem;
			font-size: 1.5rem;
			line-height: 1.2rem;
			margin-bottom: 0.5rem;

			&.enabled {
				@include set-background-color(set-transparency($primary-color, 1));
			}
		}
	}

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem 1.5rem;

		.batteryInfo {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 0.8rem;

			.batteryIcon {
				line-height: 1rem;
				font-size: 1.2rem;
			}

			.batteryPercentage {
				margin-left: 0.5rem;
			}
		}

		.cc-tabs {
			padding: 0.75rem;
		}
	}
}

@media (prefers-color-scheme: dark) {
	$primary-color: #60cdff;

	#controlCenter {
		.header {
			background-color: set-transparency(lighten($dark-button-color, 10%), 0.4);
			border-bottom: 1px solid set-text-color-transparency($dark-color, 0.2) !important;

			button {
				@include set-background-color(
					set-transparency(lighten($dark-button-color, 20%), 0.4)
				);
				border: 1px solid set-text-color-transparency($dark-color, 0.2);
			}
		}
	}
}
