.widget:before {
	background-image: unset;
}

.widget {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	width: 90%;

	&.x-large {
		height: 60%;
		top: 41%;
	}

	&-buttons-left,
	&-buttons-right {
		display: flex;
		align-items: center;
	}

	&-header {
		display: flex;
		padding: 1rem;
		align-items: center;
		justify-content: space-between;

		.widget-btn {
			border: none;
			outline: none;
			background-color: transparent;
			color: $dark-color;
			padding: 0.5rem;
			text-align: center;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2rem;
			line-height: 1.2rem;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		height: auto;
		overflow-y: auto;
		overflow-x: hidden;

		> div {
			flex: 0 1 auto;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.widget-header {
		.widget-btn {
			color: $light-color !important;
		}
	}
}
