#explorerWidget {
	.widget-content {
		padding: 1rem 0;
		overflow-y: unset;
		overflow-x: unset;
	}

	.widget-title {
		display: none;
	}

	.explorer-stuff {
		display: flex;
		justify-content: space-between;
		transition: 250ms ease;
		margin-top: -26px;
	}

	.explorer-sidebar {
		width: 0px;
		transition: 250ms ease;
		pointer-events: none;
		opacity: 0;
		overflow: hidden;
		overflow-y: scroll;
		height: 207px;
		transition: 250ms ease;

		&.maximized {
			height: 285px;
		}

		&.open {
			width: 300px;
			pointer-events: unset;
			opacity: 1;
			padding: 1rem;
			margin-right: 1rem;
			border-right: 1px solid set-text-color-transparency($light-color, 0.2);
		}

		.sidebar-button {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 1rem;
			margin-right: 0.2rem;
			margin-bottom: 0.2rem;
			width: 80%;
			@include set-border-radius(1.2rem);
			transition: 250ms ease;

			i {
				font-size: 20px;
			}

			img {
				@include set-size(auto, 20px);
			}

			.sidebar-title {
				margin-left: 0.4rem;
				font-size: 0.7rem;
				line-height: 20px;
				width: 85px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow-x: hidden;
				text-shadow: 0px 1px 5px #0006;
			}
		}
	}

	.explorer-header {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0.5rem 1rem;
		transition: 250ms ease;

		i {
			font-size: 32px;
			line-height: 32px;
		}

		img {
			@include set-size(auto, 32px);
			margin-top: 6px;
		}

		.explorer-title {
			margin-left: 1rem;
			width: 120px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow-x: hidden;
			text-shadow: 0px 1px 5px #0006;
		}
	}

	.explorer-main {
		width: 100%;

		.sidebar-opened {
			width: 50%;
		}
	}

	.explorer-page {
		transition: 250ms ease;
	}

	.explorer-apps {
		display: flex;
		flex-wrap: wrap;
		padding-left: 1rem;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 187px;
		transition: 250ms ease;
		mask-image: linear-gradient(transparent, #000 15%, #000 85%, transparent);

		&.maximized {
			height: 285px;
		}

		.folderNoApps,
		.noApps {
			padding-top: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-size: 1.4rem;
			margin-left: -1rem;

			i {
				margin-top: 1rem;
				font-size: 2.5rem;
			}
		}

		.explorerFavApp,
		.explorerApp,
		.explorerFolder,
		.addApp,
		.folderApp,
		.pageApp {
			position: relative;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@include set-size(71px, 90px);

			&.icon-ic_fluent_add_circle_24_regular {
				font-size: 30px;
			}

			.icon {
				margin-bottom: 0.5rem;
				pointer-events: none;
			}

			.icon,
			.icon img {
				@include set-size(40px, 40px);
			}

			.title {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				font-size: 0.7rem;
				width: 65px;
				pointer-events: none;
				text-shadow: 0px 1px 5px #0006;
			}

			.badge {
				position: absolute;
				@include set-size(10px, 10px);
				@include set-border-radius(5rem);
				background-color: set-transparency($dark-color, 0.4);
				margin: -20px 0 0 30px;
				@include set-shadows(
					set-transparency($dark-color, 0.3),
					set-transparency($dark-color, 0.2)
				);
				pointer-events: none;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	#explorerWidget .explorer-sidebar.open {
		border-right: 1px solid set-text-color-transparency($dark-color, 0.2);
	}
	#explorerWidget .explorer-apps .explorerFavApp .badge,
	#explorerWidget .explorer-apps .explorerApp .badge,
	#explorerWidget .explorer-apps .explorerFolder .badge,
	#explorerWidget .explorer-apps .addApp .badge,
	#explorerWidget .explorer-apps .folderApp .badge,
	#explorerWidget .explorer-apps .pageApp .badge {
		background-color: set-transparency($light-color, 0.4);
	}
}
