#musicWidget.desktopWidget {
	top: unset;
	bottom: 50%;
}

.media {
	&-playing,
	&-title,
	&-artist {
		display: flex;
	}

	&-artwork,
	&-info .icon {
		margin-right: 1rem;
		line-height: 1rem;
	}

	&-info {
		> div {
			margin-bottom: 1rem;
		}

		.icon {
			font-size: 1.5rem;
			font-weight: 900;
		}

		.text {
			white-space: nowrap;
			width: 190px;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 0.8rem;
			margin-top: 0.25rem;
		}

		.media-title .text {
			font-weight: 900;
		}
	}

	&-artwork img {
		@include set-size(120px, 120px);
		border-radius: 1rem;
		box-shadow: 0 1px 20px #0005;
	}

	&-right {
		position: relative;
		margin-top: -50px;
		left: 58%;
		display: flex;

		&.stopped {
			margin-top: -40px;
		}

		button {
			background: transparent;
			border: none;
			outline: none;
			color: rgba($light-color, 0.6);
			padding: 0;

			&.previousTrack,
			&.nextTrack {
				font-size: 1.5rem;

				i:last-child {
					margin-left: -10px;
				}
			}

			&.playTrack {
				color: rgba($light-color, 0.9);
				font-size: 3rem;
				text-shadow: 0px 15px 20px rgba($dark-color, 0.2);
				padding: 0.5rem;
				padding-right: 0.4rem;
			}
		}
	}
}

.startWidget {
	.media {
		margin-top: 0.5rem;
		margin-bottom: -5px;

		&.stopped {
			margin-top: 1.2rem;
		}

		&-artwork img {
			@include set-size(80px, 80px);
		}

		&-info {
			.media-artist .text {
				width: 125px;
			}
		}

		&-right {
			margin-top: -60px;
			left: 80%;

			&.stopped {
				margin-top: -40px;
			}

			button {
				&.playTrack {
					font-size: 2.5rem;
				}
				&.previousTrack,
				&.nextTrack {
					display: none;
				}
			}
		}
	}
}
