.scrollHelper {
	z-index: 99;
	width: 90%;

	.alphabetContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		overflow-y: scroll;
	}

	.alphabet {
		flex: 1 0 auto;
		width: 25px !important;
		height: 25px;
		text-align: center;
		padding: 1rem;
		border-top: 1px solid set-text-color-transparency($light-color, 0.1) !important;
		@include set-border-radius(0.5rem);
		@include set-background-color(set-transparency($light-button-color, 0.4));
	}
}

@media (prefers-color-scheme: dark) {
	.scrollHelper {
		.alphabet {
			border-top: 1px solid set-text-color-transparency($dark-color, 0.1) !important;
			@include set-background-color(set-transparency($dark-button-color, 0.4));
		}
	}
}
