@import './slider';
.settings {
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.deviceStuff {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.devicePic {
				margin-right: 1rem;
				img {
					@include set-size(auto, 95px);
					@include set-image-shadows(set-transparency($dark-color, 0.3));
				}
			}

			.deviceModelPromotional {
				font-weight: 800;
			}
		}

		.userStuff {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100px;
			text-overflow: ellipsis;

			.userPic {
				img {
					@include set-size(50px, 50px);
					@include set-border-radius(99px);
					@include set-image-shadows(set-transparency($dark-color, 0.6));
				}
			}
		}
	}

	&-content {
		margin-top: 1rem;

		.settings-pages .page {
			overflow-y: scroll;
			overflow-x: hidden;
			position: absolute;
			width: 92%;
			height: 350px;
			transition: 250ms ease;
			mask-image: linear-gradient(transparent, #000 15%, #000 85%, transparent);
			padding-top: 1rem;
		}
	}

	&-menu {
		border: none;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-top: 1px solid set-text-color-transparency($light-color, 0.1) !important;
		@include set-border-radius(0.5rem);
		@include set-background-color(set-transparency($light-button-color, 0.4));
		padding: 1rem;
		margin-bottom: 1rem;

		.settings-menu-stuff {
			display: flex;
			align-items: center;
			text-align: left;

			.settings-menu-icon {
				font-size: 1.7rem;
				line-height: 1.5rem;
				margin-right: 1rem;
			}

			.settings-menu-title {
				font-weight: 800;
			}

			.settings-menu-description {
				font-size: 0.7rem;
				opacity: 0.5;
			}
		}
	}

	&-label {
		padding: 0.2rem 1rem;
		opacity: 0.6;
		font-size: 0.9rem;
	}

	&-description {
		padding: 0.2rem 1rem;
		opacity: 0.6;
		font-size: 0.6rem;
	}

	&-text {
		width: 100%;
		margin-bottom: 1rem;
		border-top: 1px solid set-text-color-transparency($light-color, 0.1) !important;
		@include set-border-radius(0.5rem);
		@include set-background-color(set-transparency($light-button-color, 0.4));

		input {
			outline: none;
			width: 100%;
			padding: 1.3rem;
			background-color: transparent;
			border: none;
			color: set-text-color($light-color);
		}
	}

	&-inputSwitch {
		display: flex;
		justify-content: space-between;
		width: 93%;
		align-items: center;
		margin-bottom: 1rem;
		padding: 0.8rem;
		border-top: 1px solid set-text-color-transparency($light-color, 0.1) !important;
		@include set-border-radius(0.5rem);
		@include set-background-color(set-transparency($light-button-color, 0.4));

		.toggle {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 30px;
			margin-right: 1rem;
			@include set-background-color(set-transparency($light-button-color, 0.4));
			@include set-border-radius(30px);
			border: 2px solid set-text-color-transparency($light-color, 0.1) !important;
			@include set-shadows(
				set-transparency($dark-color, 0.3),
				set-transparency($dark-color, 0.2)
			);

			&::after {
				content: '';
				position: absolute;
				width: 29px;
				height: 29px;
				@include set-border-radius(50%);
				@include set-background-color(
					set-transparency($light-button-color, 0.7)
				);
				@include set-shadows(
					set-transparency($dark-color, 0.3),
					set-transparency($dark-color, 0.2)
				);
				top: 1px;
				left: 1px;
				transition: all 0.5s;
			}
		}

		input[type='checkbox']:checked + .toggle {
			background-color: $primary-color;
		}

		input[type='checkbox']:checked + .toggle::after {
			transform: translateX(29px);
		}

		input[type='checkbox'] {
			display: none;
		}
	}

	&-range {
		padding: 0rem 1rem;
		margin-bottom: 1rem;
		.slider {
			align-items: center;
			appearance: none;
			background: none;
			cursor: pointer;
			display: flex;
			height: 100%;
			min-height: 50px;
			overflow: hidden;
			width: $slider-width;

			&:focus {
				box-shadow: none;
				outline: none;
			}

			&::-webkit-slider-runnable-track {
				background: $background-filled-slider;
				content: '';
				height: $slider-height;
				pointer-events: none;
			}

			&::-webkit-slider-thumb {
				@include set-size($thumb-width, $thumb-height);

				appearance: none;
				background: $thumb-background;
				border-radius: $thumb-radius;
				box-shadow: makelongshadow($background-slider, $shadow-size);
				margin-top: $fit-thumb-in-slider;
				border: $thumb-border;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	$primary-color: #60cdff;

	.settings-menu {
		border-top: 1px solid set-text-color-transparency($dark-color, 0.1) !important;
		@include set-background-color(set-transparency($dark-button-color, 0.4));
	}

	.settings-text {
		border-top: 1px solid set-text-color-transparency($dark-color, 0.1) !important;
		@include set-background-color(set-transparency($dark-button-color, 0.4));

		input {
			color: set-text-color($dark-color);
		}
	}

	.settings-inputSwitch {
		border-top: 1px solid set-text-color-transparency($dark-color, 0.1) !important;
		@include set-background-color(set-transparency($dark-button-color, 0.4));

		.toggle {
			@include set-background-color(set-transparency($dark-button-color, 1));
			border: 2px solid set-text-color-transparency($dark-color, 0.1) !important;

			&::after {
				@include set-background-color(set-transparency($dark-color, 0.7));
			}
		}

		input[type='checkbox']:checked + .toggle {
			background-color: $primary-color;
		}
	}

	.settings-range {
		.slider::-webkit-slider-thumb {
			background: $primary-color;
		}
	}
}
