.weather-header {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;

	i {
		display: block;
		margin-right: 1rem;
	}

	.weather-location {
		margin-top: -5px;
	}
}

.weather-content {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.weather-left {
		display: flex;
		align-items: center;

		img {
			@include set-size(50px, 50px);
			margin-right: 1rem;
		}

		.weather-temperature {
			display: flex;
			font-size: 30px;
			margin-bottom: 0.5rem;

			span {
				margin-top: 0.3rem;
				margin-left: 0.2rem;
				font-size: 1rem;
			}
		}
	}

	.weather-right {
		display: flex;
		flex-direction: column;
		font-weight: 800;
		align-items: flex-end;
		font-size: 1.2rem;

		span {
			font-weight: 500;
			display: flex;
			font-size: 0.9rem;

			i {
				margin-top: 0.1rem;
				margin-right: 0.5rem;
			}
		}
	}
}

.desktopWidget {
	.weather-header {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.weather-content {
		.weather-daily {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 1.5rem;
			margin-bottom: 1rem;
			padding: 1rem;
			background-color: #f8f8f820;
			@include set-border-radius(1.2rem);
			@include set-shadows(
				set-transparency($dark-color, 0),
				set-transparency($dark-color, 0.3)
			);

			.weather-day {
				font-size: 0.7rem;
			}

			.weather-temperature {
				font-size: 0.8rem;
			}

			img {
				@include set-size(50px, 50px);
				margin-bottom: 0.5rem;
			}
		}

		img {
			@include set-size(70px, 70px);
		}
	}
}
